@layer components {
  .bento {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
      'location location location climbing climbing gender gaming gaming'
      'location location location climbing climbing gender job job'
      'eyesight eyesight passion passion passion passion job job';
    grid-gap: 16px;
    gap: 16px;
  }

  @media screen and (max-width: 480px) {
  }
}
