---
import Layout from '../layouts/Layout.astro'
import Hero from '../sections/Hero.astro'
---

<Layout>
	<div
		class="relative flex h-full w-full max-w-md flex-col items-center justify-center md:max-w-6xl"
	>
		<Hero />
	</div>
</Layout>
