---
import Layout from '../layouts/Layout.astro'
import Hero from '../sections/Hero.astro'
---

<Layout>
	<div class="relative flex h-full w-full max-w-7xl flex-col items-center justify-center">
		<Hero />
	</div>
</Layout>
