---
import Link from '@/components/Link.astro'
import { Image } from 'astro:assets'
import doodle from '@/assets/HeroDoodle.svg'
import Icon from '@/components/Icon.astro'
---

<section
	class="mx-auto mt-16 flex min-h-screen flex-1 flex-col-reverse items-center justify-end px-4 lg:mt-0 lg:flex-row lg:justify-center lg:px-0"
>
	<div class="z-10 flex w-full flex-col justify-center gap-3 lg:h-full">
		<div class="flex flex-col gap-2">
			<div>
				<p class="text-sm text-muted-foreground">Hi there! My name is</p>
				<h1
					class="bg-gradient-to-tr from-green-400 to-green-800 bg-clip-text text-4xl font-bold text-transparent"
				>
					Noé Tatoud
				</h1>
			</div>
			<p class="text-xl">
				Web developer &amp; Climber<span class="animate-pulse duration-1000">_</span>
			</p>
		</div>
		<ul class="flex w-full flex-col gap-2 py-4 text-muted-foreground">
			<li>
				Currently working at <Link href="https://www.bearstudio.fr/" title="Bearstudio"
					>Bearstudio</Link
				>
				&#128059;
			</li>
			<li>
				I live in
				<Link href="https://www.google.fr/maps/place/Rouen" title="Rouen on google maps">Rouen</Link
				>, FRANCE &#127467;&#127479;
			</li>
		</ul>
		<div class="flex gap-4 text-xl">
			<Link href="https://twitter.com/nowaytatoud" title="@nowaytatoud">
				<Icon icon="twitter-logo" size="5" />
			</Link>
			<Link href="https://github.com/ntatoud" title="@ntatoud">
				<Icon icon="github-logo" size="5" />
			</Link>
			<Link href="https://linkedin.com/in/noetatoud" title="@noetatoud">
				<Icon icon="linkedin-logo" size="5" />
			</Link>
		</div>
	</div>
	<div class="relative lg:-ml-36 lg:scale-125">
		<div class="absolute right-5 top-5 -z-10 h-1/3 w-1/3 rounded-full bg-green-800"></div>
		<Image
			class="aspect-square object-cover object-left-top md:aspect-auto lg:h-full lg:w-full"
			src={doodle}
			alt="Doodle"
			loading="eager"
		/>
	</div>
</section>
